.navbar{
    background-color: #003580;
    height: 60px;
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    color: white;
    font-weight: 300px;
    font-size: large;
    cursor: pointer;
}

.navButton{
    margin-left: 20px;
    padding: 2px 10px;
    cursor: pointer;
    border-color: aliceblue;
    border: 1px solid #ccd1d8;
    background:white;
    color: #003580;
    border-radius: 5px;

}