.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}
.headerContainer.listmode{
    margin: 20px 0px 20px 0px;

}
.icon{
  color: rgb(171, 165, 165);
}
.headerList {
  display: flex;
  flex-wrap: wrap; 
max-width: 1024px;
  gap: 20px;
}

.headerListItems {
  display: flex;
  gap: 10px;
  
  align-items: center;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.headerListItems.active {
  border: 2px solid white;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .headerContainer {
    margin: 10px 0px 50px 0px;
  }

  .headerList {
    gap: 15px;
    flex-direction: column;
    align-items: center;
  }

  .headerListItems {
    justify-content: center;
    width: 100%;
  }
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;               
}
.notAllowed:disabled{
  cursor: not-allowed;
}