.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.proprtyTitle{
    width: 1024px;
    font-size: 20px;
    font-weight: 500;
}

.footerTitle{
    margin-left: 40%;
    color: rgb(188, 181, 181);

}